.book-info-item {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 2px 4px;
  color: gray;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color .2s;
  user-select: none;

  &:hover {
    background-color: rgba(white, .1);
  }

  > :deep(svg) {
    width: 24px;
    height: 24px;
    color: gray;
  }
}
