.bookmark-share-view {
  margin-bottom: 16px;
}

.bookmark-share-label {
  color: lightgray;
}

.bookmark-share-title {
  margin: 0 0 16px 0;
}

.bookmark-share-description {
  margin: 0 0 16px 0;
  font-size: 15px;
}
