.edit-book-collection-dialog-row {
  display: block;
  font-size: 15px;

  & + & {
    margin-top: 16px;
  }
}

.book-collection-container {
  margin-top: 8px;
}

.book-collection-placeholder {
  margin-left: 4px;
  color: gray;
}

.book-collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;


  .book-collection-name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .book-delete-button {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 0;
    background: transparent;
    opacity: .4;
    transition: opacity .1s;

    &:not(:hover) {
      background: transparent;
    }
  }

  &:hover .book-delete-button {
    opacity: 1;
  }
}

.edit-book-collection-dialog-message {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 30px;
  margin: 8px 0 4px 0;
  color: #e88080;
}

.edit-book-collection-dialog-actions {
  display: flex;
  gap: 12px;
  justify-content: end;
}

.edit-book-collection-dialog-delete-button {
  margin-right: auto;
}
