.feature-introduction-section {
  position: relative;
  display: grid;

  & + &::before {
    position: absolute;
    top: -24px;
    left: 16px;
    display: block;
    width: calc(100% - 32px);
    height: 1px;
    background-color: rgba(white, .2);
    content: '';
  }
}

@media only screen and (width >= 768px) {
  .feature-introduction-section {
    grid-template-areas: "text image";
    grid-template-columns:  1fr  1.5fr;
    height: 300px;

    &:nth-child(even) {
      grid-template-areas: "image text";
      grid-template-columns: 1.5fr 1fr;
    }
  }
}

@media only screen and (width < 768px) {
  .feature-introduction-section {
    grid-template-areas:
        "text"
        "image";
    grid-template-rows: auto 1fr;
  }

  .introduction-image-container {
    height: 300px;
  }
}

.introduction-text {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  grid-area: text;
  align-self: center;
  justify-content: center;
  min-width: 200px;
  height: min-content;
  padding: 40px 32px;
}

.introduction-decoration-start {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
}

.introduction-decoration-end {
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 32px;
  height: 32px;
}

.introduction-title {
  margin: 0;
  font-size: 28px;
}

.introduction-description {
  margin: 0;
  font-size: 16px;
}

.introduction-image-container {
  position: relative;
  grid-area: image;
  overflow: hidden;
}

.introduction-image > :deep(img) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.introduction-image-background > :deep(img) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px) brightness(.3);
}
