.bookmark-page {
  max-width: min(1000px, 100vw - 16px);
}

.bookmark-page-tools {
  display: grid;
  grid-template-columns: 1fr 32px;
  gap: 8px;
  align-items: center;
  padding: 0 8px 8px 16px;
  box-shadow: 0 -8px 0 var(--bg-dark), 0 2px 2px -2px rgba(white, 0);
  transition: box-shadow .2s;

  &.bookmark-page-tools-sticky {
    position: sticky;
    top: 8px;
    z-index: 1;
    background-color: var(--bg-dark);
    box-shadow: 0 -8px 0 var(--bg-dark), 0 2px 2px -2px rgba(white, .6);
  }
}

.bookmark-list-actions {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 8px;

  > * {
    height: 32px;
  }

  &.bookmark-list-actions-expanded {
    grid-template-columns: 1fr;
  }
}

.books-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bookmark-page-all-checkbox {
  display: flex;
  align-items: center;
  align-self: start;
  height: 32px;
}
