.bookmark-page {
  max-width: min(1000px, 100vw - 16px);
}

.bookmark-list-actions {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 8px;

  > * {
    height: 32px;
  }

  &.bookmark-list-actions-expanded {
    grid-template-columns: 1fr;
  }
}

.book-filter-state-view {
  margin: 8px 0 0 16px;
}

.books-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bookmark-page-all-checkbox {
  display: flex;
  align-items: center;
  align-self: start;
  height: 32px;
}
