.site-header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 62px;
  padding: 8px 16px;
  background-color: rgba(white, .04);
  border-bottom: 1px solid rgba(white, .1);
}

.site-header-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 0 8px;
}

.site-logo-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: normal;

  &:hover {
    text-decoration: none;
  }
}

.site-logo-text {
  font-size: 0;
}

@media (max-width: 430px) {
  .site-logo-text {
    font-size: 18px;
  }

  .site-logo {
    display: none;
  }
}

.site-logo {
  width: 100%;
  max-width: 220px;
  margin: 0 auto 0 0;
}
