.bookmark-item {
  scroll-margin-top: 36px;
  padding: 8px 0 8px 0;
  font-size: 16px;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(white, 0.04);
  }

  &:first-child {
    padding-top: 8px;
  }

  &.bookmark-item-focused {
    animation: highlight-bookmark 1s;
  }
}

@keyframes highlight-bookmark {
  from {
    background-color: rgba(yellow, .2);
  }

  to {
    background-color: transparent;
  }
}

.bookmark-text {
  margin: 0;
  padding: 0 16px;
  font-size: 18px;
  white-space: pre-wrap;
  transition: opacity .2s;

  .bookmark-item:not(:hover) &.bookmark-text-archived {
    opacity: .5;
  }
}

.bookmark-text-yellow {
  background-color: #564328;
}

.bookmark-text-red {
  background-color: #522e2a;
}

.bookmark-text-green {
  background-color: #243d30;
}

.bookmark-text-blue {
  background-color: #143a41;
}

.bookmark-text-pink {
  background-color: #4e2c3c;
}

.bookmark-text-purple {
  background-color: #3c2d49;
}

.bookmark-annotation {
  margin: 16px 16px 0 16px;
  padding: 4px 8px;
  font-size: 16px;
  border-left: solid 4px lightgray;
}

.bookmark-toolbar {
  display: flex;
  gap: 8px;
  justify-content: end;
  height: 32px;
  margin-top: -4px;
  margin-right: 16px;
  transition: opacity .3s;

  .bookmark-item:not(:hover):not(:focus-within) & {
    opacity: .3;
  }
}

.bookmark-state-text {
  align-self: center;
  color: rgba(white, .8);
  user-select: none;
}

.bookmark-action-icon {
  width: 24px;
  height: 24px;
  color: lightgray;
}
