.multi-book-action-bar {
  position: relative;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
}

.multi-book-action-text {
  position: relative;
  font-size: 18px;
}

.multi-book-action-scrollable-shadow-left,
.multi-book-action-scrollable-shadow-right {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 6px;
  height: 100%;
}

.multi-book-action-scrollable-shadow-left {
  right: -6px;
  background: linear-gradient(90deg, rgba(32, 33, 36, 1), rgb(32, 33, 36, 0));
}

.multi-book-action-scrollable-shadow-right {
  right: 0;
  background: linear-gradient(90deg, rgba(32, 33, 36, 0), rgb(32, 33, 36, 1));
}

@media (max-width: 500px) {
  .multi-book-action-selected-text {
    display: none;
  }
}

.multi-book-actions {
  display: grid;
  grid-auto-columns: 32px;
  grid-auto-flow: column;
  gap: 8px;
  align-items: center;
  justify-items: center;
  max-width: 100%;
  margin-left: auto;
  overflow-x: auto;
}
