.bookmark-edit-item {
  padding-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  scroll-margin-top: 36px;

  &.bookmark-edit-item-no-chapter {
    padding-top: 16px;
  }
}

.bookmark-edit-textarea {
  --n-padding-vertical: 2px;

  box-sizing: border-box;
  width: calc(100% - 16px);
  margin: -2px 8px -0 8px;
  font-size: 18px;

  :deep(.n-input-wrapper) {
    padding: 0 8px
  }
}

.bookmark-edit-toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
  height: 40px;
  padding-right: 16px;
  margin-top: -2px;
}

.bookmark-edit-action-icon {
  width: 24px;
  height: 24px;
  color: rgba(white, .82);
}
