.book-header {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  padding: 16px;
}

.book-section {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.bookmark-export-button {
  width: min-content;
}

.book-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
}

.bookmark-expand-handle {
  align-self: center;
  margin-top: 4px;
  background-color: rgba(black, .2);
  border-radius: 4px;
  transition: background-color .2s;

  &:hover {
    background-color: rgba(black, .6);
  }
}

.book-checkbox-container {
  align-self: center;

  .book-bookmark:not(:hover):not(:focus-within):not(.book-selected) & {
    opacity: .4;
  }
}

.book-toolbar-container {
  position: relative;
  height: 32px;
}

.book-toolbar {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 8px;

  & * {
    transition: opacity .2s;
  }

  .book-bookmark:not(:hover):not(:focus-within) & * {
    opacity: .4;
  }
}

.book-export-notion-icon {
  color: lightgray;
}

.book-title {
  margin: 0;
  font-size: 22px;
}

.book-title-button {
  width: 100%;
  margin-left: -4px;
  padding: 4px;
  color: white;
  font-size: 22px;
  text-align: start;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: auto;

  &:hover {
    background-color: rgba(white, 0.1);
  }

  &.book-title-button-disabled {
    pointer-events: none;
  }

  &:not(.book-expanded &) {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.book-info-text {
  margin: 0;
  font-size: 16px;

  &:not(.book-expanded &) {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.book-info-bar {
  display: flex;
  gap: 2px;
  margin-left: -4px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-state-text {
  align-self: center;
  width: max-content;
  color: rgba(white, .8);
}
