.bookmark-share-page {
  max-width: min(1000px, 100vw - 16px);
}

.bookmark-share-page-list-actions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;

  &.bookmark-share-page-list-actions-expanded {
    grid-template-columns: 1fr;
  }
}

.bookmark-share-books-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
