.page-loading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 24px;
}

.page-loading-state-icon {
  width: 56px;
  height: 56px;
  color: rgba(white, .8);
}

.loading-message {
  color: gray;
  font-size: 24px;

  &.loading-message-primary {
    color: white;
  }
}
