.book-export-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 8px 16px;
  font-size: 15px;
  column-gap: 8px;

  &:hover {
    background-color: rgba(white, .1);
  }

  &.book-export-item-canceled {
    text-decoration: line-through;
    opacity: .6;
  }
}

.book-export-item-image {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.book-export-item-name {
  overflow-x: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.book-export-item-progress {
  width: 24px;
  height: 24px;

  :deep(.n-progress-icon) {
    font-size: 24px;
  }
}

.cancel-icon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/svg/cancel.svg');
}

.book-export-item-cancel-button {
  width: 28px;
  height: 28px;
  margin: -2px;
  font-size: 0;
  background: url('/src/assets/svg/close-circle.svg') no-repeat center;
}
