.book-cover-view {
  width: 120px;
  height: 180px;
}

.book-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallback-book-cover {
  display: flex;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4px;
  background-color: rgba(white, 0.1);
  border: 1px solid gray;
}

.fallback-image-cover-text {
  color: lightgray;
}
