.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-bar-link {
  display: flex;
  gap: 4px;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;

  & + & {
    margin-left: 8px;
  }

  & + &:before {
    position: absolute;
    top: calc(50% - 6px);
    left: -4px;
    width: 1px;
    height: 12px;
    background-color: rgba(white, .4);
    content: '';
    pointer-events: none;
  }

  &.router-link-active {
    font-weight: 500;
    opacity: 1;
  }
}

.nav-bar-item {
  position: relative;
  display: flex;
  height: 40px;
  border-radius: 4px;
  opacity: .7;
  transition: background-color .1s;

  &:hover {
    background-color: rgba(white, .1);
    opacity: 1;
  }
}

.nav-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin-left: 4px;
  font-size: 0;
  background: none;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &.nav-bar-button-active {
    background-color: rgba(white, .1);
    opacity: 1;
  }
}

@media only screen and (width >= 626px) {
  .nav-bar-item-icon {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 626px) {
  .nav-bar-item-icon {
    width: 24px;
    height: 24px;
  }

  .nav-bar-item-text {
    display: none;
  }
}
