.tag-bar-item {
  display: flex;
  gap: 4px;
  align-items: center;
  height: min-content;
  padding: 2px 8px;
  overflow-x: hidden;
  border: 1px solid rgba(white, .24);
  border-radius: 2px;

  &.tag-bar-item-clickable {
    cursor: pointer;
  }
}

.tag-bar-item-text {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.tag-bar-item-remove-button {
  width: 22px;
  height: 22px;
  padding: 0;
  margin-right: -4px;
  font-size: 0;
  color: rgba(white, .52);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
  transition: background .2s;

  &:hover {
    background: rgba(white, .12);
  }
}
