.data-import-steps-collapse {
  :deep(.n-collapse-item__content-wrapper .n-collapse-item__content-inner) {
    padding-top: 0;
  }
}

.data-import-steps {
  margin: 0;
  font-size: 15px;
}

.data-import-step-level-2 {
  margin-left: 2ch;
  list-style-type: circle;
}

.data-import-step-level-3 {
  margin-left: 4ch;
  list-style-type: circle;
}
