.book-changes-header {
  display: flex;
  gap: 8px;
  align-items: baseline;
  overflow-x: hidden;
}

.book-changes-title {
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-changes-info {
  color: lightgray;
  white-space: nowrap;
}
