.bookmark-filter-group-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 4px 4px 4px 12px;
  font-size: 16px;
  color: rgba(white, .8);
  text-align: start;
  cursor: pointer;
  background: none;
  border: 0;

  &.bookmark-filter-group-header-active {
    color: #63e2b7;
  }
}

.bookmark-filter-search-input {
  margin-bottom: 4px;
}

.bookmark-filter-group-items-container {
  padding: 0 4px;
  color: white;
}

.bookmark-filter-group-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  padding: 0 4px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 4px;

  &:hover {
    background-color: rgba(white, .1);
  }

  &.bookmark-filter-group-item-selected {
    color: #63e2b7;
  }
}

.bookmark-filter-group-empty-item {
  height: 32px;
  padding-left: 12px;
  color: rgba(white, .5);
}

.bookmark-filter-checked-icon {
  width: 22px;
  height: 22px;
}
