.bookmark-chapter-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  padding: 0 4px 0 16px;
  margin: 8px 0 8px 0;
  background-color: rgba(white, .05);

  .bookmark-item:not(:hover) &.bookmark-chapter-archived {
    opacity: .5;
  }
}

.bookmark-chapter-empty-view {
  display: flex;
  justify-content: end;
  padding-right: 4px;
  margin-top: -4px;
}
