.bookmark-chapter-view {
  display: flex;
  align-items: center;
  height: 34px;
  margin: 8px 0 8px 0;
  padding: 0 16px;
  background-color: rgba(white, .05);

  .bookmark-item:not(:hover) &.bookmark-chapter-archived {
    opacity: .5;
  }
}
