.page-result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 24px;
}

.page-result-state-icon {
  width: 56px;
  height: 56px;
  color: rgba(white, .8);
}

.page-result-message {
  font-size: 24px;
  color: gray;

  &.page-result-message-primary {
    color: white;
  }
}
