.book-bookmark {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;

  & + &:before {
    display: block;
    width: 100%;
    height: 1px;
    background-color: gray;
    content: '';
  }
}

.book-bookmark-list {
  border-top: 1px solid rgba(white, 0.15);
}
