.book-changes {
  & + & {
    margin-top: 16px;
  }
}

.book-changes-header {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.book-changes-title {
  margin: 0 0 8px;
}

.book-changes-info {
  color: lightgray;
}

.book-changes-bookmark-changes-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.book-removed-message {
  padding: 8px 16px;
  color: #fbe5e7;
  text-align: center;
  background-color: rgba(white, .04);
  border-radius: 4px;
  user-select: none;
}
